.drop-down-menu {
    width: 270px;
    // height: 300px;
    position: absolute;
    top: 67px;
    right: 0px;
    background: #13131d;
    border-radius: 10px;
    overflow: hidden;
    z-index: 5;
}

.drop-down-menu-item {
    display: flex;
    // flex-direction: row;
    border-bottom: 1px solid #65676b2a;
    padding: 10px;
    span {
        font-size: 10px;
        cursor: pointer;
    }
    p {
        margin: 0;
        font-size: 18px;
    }
    .company-info {
        p {
            font-size: 13px;
        }
    }
}

.drop-down-menu-item-last {
    border: none;
}

.drop-down-single-item {
    cursor: pointer;
    &:hover {
        background-color: #cccccc23;
    }
}

.pending-text {
    color: #00b3d3;
}
.successful-text {
    color: #68bd61;
}
.failed-text {
    color: #ea524f;
}
