.swipe-card {
  // position: relative;
  max-width: 300px;
}

.swipe-card-container {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.swipe {
  position: absolute;
  z-index: 10;
}

.swipe-main-content {
  margin: 60px 0px;
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swipe-right-arrow {
  position: absolute;
  font-size: 50px;
  bottom: 120px;
  right: -120px;
  cursor: pointer;
}

.swipe-left-arrow {
  position: absolute;
  font-size: 50px;
  bottom: 120px;
  left: -120px;
  cursor: pointer;
}

.products-again-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}